@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@keyframes popinleft {
    from {
        transform: translate(-100px, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes popinright {
    from {
        transform: translate(100px, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

:root {
    --primary-color: #22223b;
    --secondary-color: #8d99ae;
    --text-color: #edf2f4;
    --radius: 10px;
    --heading-size: 22px;
    --title-size: 42px;
    --normal-size: 18px;
}

::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

/* ---------------- NAVBAR ---------------- */
nav {
    background: var(--primary-color);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--normal-size);
    position: fixed;
    z-index: 1;
}

nav img {
    height: 70px;
    animation: popinleft 0.8s ease forwards;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav li {
    position: relative;
}

nav li::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    opacity: 0;
    border: 1px solid white;
    transition: .3s ease-in-out;
}

nav li:hover::before {
    width: 100%;
    opacity: 1;
}

nav button {
    height: 50px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: #fff;
    font-size: var(--normal-size);
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .2s ease-in-out;
}

nav button:hover {
    color: #fff;
    transform: scale(1.02);
}

nav button::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-color);
    border-radius: inherit;
    z-index: -1;
    transition: width .3s ease-in-out;
}

nav button:hover::before {
    width: 100%;
}

/* ---------------- HOME SECTION ---------------- */
.home {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.home .card {
    height: 60vh;
    width: 100%;
    background: var(--primary-color);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 130px;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.home h4{
    border-radius: 7px;
    padding: 10px;
    font-size: var(--normal-size);
    background: rgb(255, 255, 255, 0.2);
}

.home h1{
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: var(--title-size);
}

/* ---------------------- about1 ------------------ */

.about1 {
    height: 100vh;
    max-width: 100%;
}

.about1 .card{
    height: 40%;
    display: flex;
}

.about1 .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    gap: 50px;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;  
}

.about1 .card-img img{
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0 , 0.2);
}

#about1-card{
    animation: popinleft linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;  
}

#about1-desc{
    animation: popinright linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;  
}

.about1 .card .box{
    height: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about1 .card .box h1{
    font-size: var(--title-size);
}

.about1 .card .box p{
    font-size: var(--normal-size);
}

#about1-desc{
    padding: 30px;
    text-indent: 50px;
}

.mission {
    height: 80vh;
    max-width: 100vw;
    background-color: #edf2f4;
}

.mission .desc {
    height: 30%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mission .card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}


.mission .card .box{
    flex: 1 1 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 30px;
    box-shadow: 0 0 30px rgb(0, 0, 0 , 0.2);
    border-radius: 10px;
    padding: 10px;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.mission .card .box .image{
    height: 80px;
    width: 80px;
    background: greenyellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission .card .box img{
    height: 50px;
}

.foundation{
    height: 90vh;
    max-width: 100%;
    display: flex;

    flex-wrap: wrap;
}

.foundation .box{
    height: 100%;
    flex: 1 1 250px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

.foundation img{
    border-radius: 10px;
    box-shadow:0 0 30px rgb(0, 0, 0 , 0.2);
}

.foundation #para1{
    font-size: var(--normal-size);
    text-transform: capitalize;
}

.foundation #para2{
    font-size: var(--normal-size);
    text-indent: 50px;
}

.foundation #box1{
    animation: popinleft linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.foundation #box2{
    animation: popinright linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.vist-us {
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.vist-us .card1 {
    height: 250px;
    width: 70%;
    background: var(--secondary-color);
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vist-us .card1 .left,
.vist-us .card1 .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vist-us .card1 .right {
    padding: 100px;
    font-size: var(--normal-size);
}

.vist-us .card2 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vist-us .card2 .left,
.vist-us .card2 .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vist-us .card2 .left {
    padding: 0 100px;
    gap: 10px;
}

.vist-us .card2 .right {
    padding: 0 50px;
}

.vist-us .vist-logo img {
    height: 70px;
}

.con-details {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.con-details img {
    height: 30px;
}

.con-details-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

/* ================= MOBILE RESPONSIVE (max-width: 600px) ================= */
@media (max-width: 600px) {

    /* NAVBAR */
    nav {
        height: 80px;
        justify-content: space-between;
        padding: 0 20px;
    }

    nav ul {
        display: none; /* hide navbar list for now */
    }

    nav button {
        height: 40px;
        width: 100px;
        font-size: 14px;
    }

    nav img {
        height: 50px;
    }

    /* HOME */
    .home {
        height: auto;
        padding-top: 0px;
    }

    .home .card {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 40px 20px;
        text-align: center;
    }

    .home h1 {
        font-size: 28px;
        line-height: 35px;
    }

    /* ABOUT 1 */
    .about1 {
        height: auto;
        padding: 20px;
    }

    .about1 .card {
        flex-direction: column;
        height: auto;
        gap: 20px;
        text-align: center;
    }

    .about1 .card .box {
        flex-basis: 100%;
        padding: 10px;
    }

    .about1 .card-img {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 20px;
    }

    .about1 .card-img img {
        width: 100%;
        height: auto;
    }

    #about1-desc {
        text-indent: 0;
        padding: 0 10px;
    }

    /* MISSION */
    .mission {
        height: auto;
        padding: 30px 10px;
    }

    .mission .desc {
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .mission .card {
        padding: 10px;
        gap: 20px;
    }

    .mission .card .box {
        flex-basis: 100%;
        height: auto;
        padding: 20px;
    }

    /* FOUNDATION */
    .foundation {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .foundation .box {
        height: auto;
        flex-basis: 100%;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }

    .foundation img {
        width: 100%;
        height: auto;
    }

    #para2 {
        text-indent: 0;
    }

    /* VISIT US */
    .vist-us {
        height: auto;
        padding: 30px 10px;
        gap: 30px;
    }

    .vist-us .card1 {
        flex-direction: column;
        height: auto;
        width: 90%;
        padding: 20px;
        gap: 20px;
        text-align: center;
    }

    .vist-us .card1 .left,
    .vist-us .card1 .right {
        width: 100%;
        padding: 0;
    }

    .vist-us .card2 {
        flex-direction: column;
        height: auto;
        gap: 20px;
        width: 90%;
    }

    .vist-us .card2 .left,
    .vist-us .card2 .right {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .con-details {
        height: auto;
        justify-content: flex-start;
        margin: 10px;
    }

    #con-email img {
        display: none;
    }

    #con-email h3 {
        padding-left: 40px;
    }

    .vist-logo img {
        height: 50px;
    }

    #con-email{
        display: none;
    }
}
